.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db

# Virtual environments
venv/
.venv/
env/
fastapi-env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# SQLite (if used for local dev only)
*.sqlite3
